/* Global Properties */
/* html {
  scroll-behavior: smooth;
} */

body {
    background: #1f2235;
    font-family: "Baloo Tamma 2", cursive;
  }
  
  /* Main Heading Font */
  .m-heading {
    font-family: "Roboto Slab", serif;
  }

  .Navigation-link {
    border: 2px solid transparent;
    text-decoration: none;
  }

 .Navigation-link:hover {
  text-decoration: none;
  border-bottom: 5px solid  #f5ba09;
  transition: 0.5s ease;
 }

 .main-row {
  display: flex;
  justify-content: start;
  align-items: center;
 }
  
 .main-container {
  height: 100vh;
 }

 .size {
  font-size: 100px;
 }

 .intro-img {
  height: 100vh;
 }

 #about {
  background: #313552;
  border-radius: 0.5rem;
}
 
.card {
  border-bottom: 8px solid #f5ba09;
}

/* Social Media Section */
#social-media {
  background: #313552;
}

/* Add color to Social Media Links */
.media_link {
  padding: 1rem;
  max-width: 15rem;
  margin-left: 1rem;
  border: 2px solid #f5ba09;
  border-radius: 0.5rem;
}